<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            ESnow
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{#    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">#}
{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>#}
{#    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>#}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home:index' %}">ESnow</a>
        </div>
        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'modis:index' %}">
                        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp; Modis
                    </a>
                </li>
                <li>
                    <a href="{% url 'coordinates:index' %}">
                        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp; CoordinateSystem
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="#">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; {{ user.username }}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Выйти
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'users:register' %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Регистрация
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'login' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Войти
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>